@page "/fetchledigingen"
@using AfvalDashboard.Shared
@inject HttpClient Http

<PageTitle>Ledigingenoverzicht</PageTitle>

<h1>Ledigingenoverzicht</h1>

<p>Hier een overzicht van alle ledigingen.</p>

<input type="text" @bind="filterInput"/>
<button @onclick="ApplyFilter">Filter</button>

@if (ledigingen == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tijd</th>
                <th>Gewicht</th>
                <th>Verboden Lading</th>
                <th>Wagen Nummer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lediging in filteredLedigingen)
            {
                <tr>
                    <td>@lediging.Id</td>
                    <td>@lediging.Tijd</td>
                    <td>@lediging.Gewicht</td>
                    <td>@lediging.VerbodenLading</td>
                    <td>@lediging.WagenNummer</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Lediging[]? ledigingen;
    private Lediging[]? filteredLedigingen;
    private string? filterInput;

    protected override async Task OnInitializedAsync()
    {
        ledigingen = await Http.GetFromJsonAsync<Lediging[]>("Ledigingen");
        filteredLedigingen = ledigingen;
    }

    private void ApplyFilter()
    {
        if (string.IsNullOrEmpty(filterInput))
        {
            filteredLedigingen = ledigingen;
        }
        else
        {
            filteredLedigingen = ledigingen?
            .Where(l => l.WagenNummer.Contains(filterInput, StringComparison.OrdinalIgnoreCase))
            .ToArray();
        }
    }
}
